@{
    ViewData["Title"] = "Home Page";
}

 <div id="grid">
       @foreach(var hskModel in Model)
       {
            <div style="background-color: @hskModel.Color;">@hskModel.Character</div>
       }
 </div>
