@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center">HSK1</h1>
 <div id="grid" title="HSK1">
@{
    int counter = 0;

    while (Model[counter].Level == "HSK1")
    {
        <div style="background-color: @Model[counter].Color;">@Model[counter].Character</div>
        counter = counter + 1;
    }
} 
 </div>
<h1 class="text-center">HSK2</h1>
<div id="grid2" title="HSK2">
    @{
        while (Model[counter].Level == "HSK2")
        {
            <div style="background-color: @Model[counter].Color;">@Model[counter].Character</div>
            counter = counter + 1;
        }
    } 
 </div>